.Container-Item {
  display: flex;
  justify-content: space-around;
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 10px;
}
.p-Item {
  display: flex;
  margin: 200px;
}

.btnComprar {
  text-decoration: none;
}
.linkComprar {
  color: #212529;
  text-decoration: auto;
}
.linkComprar:hover {
  color: #474d54;
  text-decoration: auto;
}
