.item-container {
  height: 82vh;
  width: 90vw;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  /* margin-left: 75px; */
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.btn-detail {
  border: 1px solid #212529;
  border-radius: 5px;
  background-color: #212529;

  height: 36px;
  width: auto;
  font-size: 20px;
  cursor: pointer;
  align-items: flex-end;
}

.itemDetail-div {
  display: flex;
  background-color: #e6c4b1;
  /* flex-wrap: wrap; */
  border: 2px solid #212529;
  border-radius: 10px;
  width: 86.5vw;
  height: 80vh;
  margin: 40px 0px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* flex-direction: colum; */
}

.itemDetail-div-Lateral {
  display: flex;
  /* border: 2px solid blue; */
  width: 80vw;
  height: 80vh;
  flex-wrap: wrap;
  padding: 14px;
}

.itemDetail-h2 {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 700;
  width: 40vw;
  padding: 20px;
  margin-left: 20px;
  /* border: 1px solid red; */
}

.container-itemDetail-div-bajo-p {
  display: flex;
  justify-content: space-between;
  width: 28vw;
  align-self: flex-end;
}
.itemDetail-div-Lateral-p {
  width: 40vw;
  /* height: 47vh; */
  /* padding: 20px; */
  margin-left: 40px;
  /* border: 1px solid red; */
}

.itemDetail-div-lateral-bajo {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-end; */
  justify-content: space-evenly;
  width: 40vw;
  height: 76vh;
}

.itemDetail-div-bajo-p {
  display: flex;
  align-items: flex-end;
  /* margin-top: 20px; */
  align-self: center;
}

.itemDetail-img {
  display: flex;
  align-self: flex-start;
  width: 40vw;
  /* border: 2px solid green; */
  height: 60vh;
  padding: 20px;
}

.itemDetail-itemCount {
  width: 200px;
}
