.Container-div-ItenCount {
  display: grid;
  justify-content: center;
  /* // border: 2px solid green; */
}

.Container-p-ItenCount {
  display: grid;
  justify-self: center;
}
.Container-ItemCount {
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-self: center; */
  margin: 10px;
  /* padding: 50px; */
  align-self: end;
}
.p-ItemCount {
  margin: 0px 50px;
}
.btn-ItemCount {
  border: 1px solid #212529;
  border-radius: 5px;
  background-color: #212529;
  color: white;
  height: 36px;
  width: 35px;
  font-size: 20px;
}
.div-btn-agregar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  /* // border: 2px solid red; */
}

.btn-agregar {
  border: 1px solid #212529;
  border-radius: 5px;
  background-color: #212529;
  color: white;
  height: 40px;
  width: 200px;
}
